/* Here is your custom css styles. */

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI9w2_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI9w2_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Monda Regular'), local('Monda-Regular'), url(https://fonts.gstatic.com/s/monda/v9/TK3tWkYFABsmjspvPhopv-dHE5Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Monda Regular'), local('Monda-Regular'), url(https://fonts.gstatic.com/s/monda/v9/TK3tWkYFABsmjsphPhopv-dH.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Monda Bold'), local('Monda-Bold'), url(https://fonts.gstatic.com/s/monda/v9/TK3gWkYFABsmjsLaGw8KneptKZ2s7zg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Monda Bold'), local('Monda-Bold'), url(https://fonts.gstatic.com/s/monda/v9/TK3gWkYFABsmjsLaGw8EneptKZ2s.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Cascadia Code';
  src: local('Cascadia Code Regular'), url('fonts/cascadia-webfont.eot');
  src: local('Cascadia Code Regular'), url('fonts/cascadia-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/cascadia-webfont.woff2') format('woff2'),
      url('fonts/cascadia-webfont.woff') format('woff'),
      url('fonts/cascadia-webfont.ttf') format('truetype'),
      url('fonts//cascadia-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-y: scroll;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
  background-color: #F5F7F9;
}

#artDetail .card {
  box-shadow: 0 15px 8px rgba(50, 50, 93, .1), 0 5px 8px rgba(0, 0, 0, .07) !important;
}

h1,h2,h3,h4,h5,h6,.card-title,.bg-cover .title{
  font-family: 'Monda', 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-weight: 400;
}
h2{
  font-weight: 500;
}
code {
  font-family: 'Cascadia Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

/* hexo-filter-github-emojis */
.github-emoji {
  height: 2em;
  width: 2em;
  display: inline-block !important;
  position: relative;
  margin: 0 3px !important;
  padding: 0;
}
.github-emoji:hover {
  animation: emoji-face 5s infinite ease-in-out;
}

@keyframes emoji-face {
  2% {
    transform: translate(0, 1.5px) rotate(1.5deg);
  }
  4% {
    transform: translate(0, -1.5px) rotate(-0.5deg);
  }
  6% {
    transform: translate(0, 1.5px) rotate(-1.5deg);
  }
  8% {
    transform: translate(0, -1.5px) rotate(-1.5deg);
  }
  10% {
    transform: translate(0, 2.5px) rotate(1.5deg);
  }
  12% {
    transform: translate(0, -0.5px) rotate(1.5deg);
  }
  14% {
    transform: translate(0, -1.5px) rotate(1.5deg);
  }
  16% {
    transform: translate(0, -0.5px) rotate(-1.5deg);
  }
  18% {
    transform: translate(0, 0.5px) rotate(-1.5deg);
  }
  20% {
    transform: translate(0, -1.5px) rotate(2.5deg);
  }
  22% {
    transform: translate(0, 0.5px) rotate(-1.5deg);
  }
  24% {
    transform: translate(0, 1.5px) rotate(1.5deg);
  }
  26% {
    transform: translate(0, 0.5px) rotate(0.5deg);
  }
  28% {
    transform: translate(0, 0.5px) rotate(1.5deg);
  }
}

@-webkit-keyframes rainbow {
  0%,
  100% {
    background: rgba(75, 0, 130, 0.75);
    background: linear-gradient(45deg, rgba(75, 0, 130, 0.75) 0%, rgba(75, 0, 130, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(75, 0, 130, 0.75) 0%, rgba(75, 0, 130, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(75, 0, 130, 0.75) 0%, rgba(75, 0, 130, 0.65) 100%);
  }
  16% {
    background: rgba(132, 13, 121, 0.75);
    background: linear-gradient(45deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
  }
  32% {
    background: rgba(94, 11, 247, 0.75);
    background: linear-gradient(45deg, rgba(94, 11, 247, 0.75) 0%, rgba(94, 11, 247, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(94, 11, 247, 0.75) 0%, rgba(94, 11, 247, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(94, 11, 247, 0.75) 0%, rgba(94, 11, 247, 0.65) 100%);
  }
  48% {
    background: rgba(25, 25, 112, 0.75);
    background: linear-gradient(45deg, rgba(25, 25, 112, 0.75) 0%, rgba(25, 25, 112, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(25, 25, 112, 0.75) 0%, rgba(25, 25, 112, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(25, 25, 112, 0.75) 0%, rgba(25, 25, 112, 0.65) 100%);
  }
  64% {
    background: rgba(0, 100, 0, 0.75);
    background: linear-gradient(45deg, rgba(0, 100, 0, 0.75) 0%, rgba(0, 100, 0, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(0, 100, 0, 0.75) 0%, rgba(255, 112, 66, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(0, 100, 0, 0.75) 0%, rgba(0, 100, 0, 0.65) 100%);
  }
  80% {
    background: rgba(233, 30, 99, 0.75);
    background: linear-gradient(45deg, rgba(233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(2233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
  }
}

@keyframes rainbow {
  0%,
  100% {
    background: rgba(75, 0, 130, 0.75);
    background: linear-gradient(45deg, rgba(75, 0, 130, 0.75) 0%, rgba(75, 0, 130, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(75, 0, 130, 0.75) 0%, rgba(75, 0, 130, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(75, 0, 130, 0.75) 0%, rgba(75, 0, 130, 0.65) 100%);
  }
  16% {
    background: rgba(132, 13, 121, 0.75);
    background: linear-gradient(45deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
  }
  32% {
    background: rgba(94, 11, 247, 0.75);
    background: linear-gradient(45deg, rgba(94, 11, 247, 0.75) 0%, rgba(94, 11, 247, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(94, 11, 247, 0.75) 0%, rgba(94, 11, 247, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(94, 11, 247, 0.75) 0%, rgba(94, 11, 247, 0.65) 100%);
  }
  48% {
    background: rgba(25, 25, 112, 0.75);
    background: linear-gradient(45deg, rgba(25, 25, 112, 0.75) 0%, rgba(25, 25, 112, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(25, 25, 112, 0.75) 0%, rgba(25, 25, 112, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(25, 25, 112, 0.75) 0%, rgba(25, 25, 112, 0.65) 100%);
  }
  64% {
    background: rgba(0, 100, 0, 0.75);
    background: linear-gradient(45deg, rgba(0, 100, 0, 0.75) 0%, rgba(0, 100, 0, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(0, 100, 0, 0.75) 0%, rgba(255, 112, 66, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(0, 100, 0, 0.75) 0%, rgba(0, 100, 0, 0.65) 100%);
  }
  80% {
    background: rgba(233, 30, 99, 0.75);
    background: linear-gradient(45deg, rgba(233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(2233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
  }
}

.recommend .post-card .post-title{
  line-height: 1.5;
  height: 60px;
}

#aboutme .introduction {
  max-width: 700px;
  text-align: left;
  line-height: 2.2rem;
}

footer .social-statis {
  margin-top: 0px;
}

.cover-social-link {
  top: 14vh;
}

.bg-color {
  background-image: linear-gradient(to right, #1a6f06 0%, #252a34 100%);
}

span.bg-color {
  background-image: linear-gradient(to right, #1a6f06 0%, #1a6f06 100%);
}

header .brand-logo .logo-span {
  font-size: 1.8rem;
}

.bg-cover .title {
  font-size: 2.5em;
  margin-bottom: 2rem !important;
}

.post-cover {
  height: 40vh !important;
  min-height: 300px;
}

.carousel-post .cover-btns a {
  margin-top: 0px;
}

.dream {
  margin-top: 10px;
  margin-bottom: 10px;
}

header .nav-transparent-none {
  display: none;
}

div.jqcloud {
  font-size: 0.8rem !important;
}

.friends-container {
  max-width: 1300px;
}

footer {
  padding-bottom: 20px;
}

.carousel .indicators {
  padding-bottom: 10px !important;
}

footer .copy-right img {
  width: 16px;
}

.chip-container .tag-chips {
  max-width: 1150px;
}

.archive-calendar {
  max-width: 1020px;
}

#cd-timeline {
  max-width: 960px;
}

#post-calendar {
  height: 260px;
}

#artDetail .reprint {
  margin: 15px 0 20px 0;
}

/*大屏幕下(桌面类)的样式*/
@media only screen and (min-width: 993px) {
  #articleContent img {
    zoom: 50%;
    max-width: 90%;
  }

  .index-cover{
    max-height: 70vh;
  }

  .index-card {
    margin-top: -50px;
  }

  #toc-content ol li {
    line-height: 35px;
  }

  #toc-content .is-active-link::before {
    margin-top: 5px;
    margin-left: 20px;
  }

  .toc-widget .toc-title {
    margin-bottom: 20px !important;
  }
}

/*中等屏幕下(平板类)的样式*/
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .container {
    width: 90%;
  }

  #articleContent img {
    zoom: 50%;
    max-width: 90%;
  }
}

/*小屏幕下(手机)的样式*/
@media only screen and (max-width: 812px) {
  .nav-none {
    display: none;
  }

  .cover-btns {
    top: 5vh;
  }

  .cover-social-link {
    top: 10vh;
  }

  .carousel-control {
    display: none;
  }

  .index-cover {
    min-height: 650px;
  }

  #articleContent img {
    zoom: 50%;
    max-width: 90%;
    min-width: 60%;
  }

  header .side-nav .mobile-head img {
    content: url("/medias/logo-small.png");
    width: 50px;
    height: 50px;
    margin-left: 20px;
  }

  .bg-cover .title {
    font-size: 2em;
  }

  .bg-cover .post-title {
    font-size: 2em;
  }
}

.block-with-text:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
}

.nav-menu li .sub-nav {
  margin-left: -30px;
}

.nav-menu li .sub-nav li {
  text-align: left;
  width: 250px;
  height: 50px;
  line-height: 50px;
}

.nav-menu li .sub-nav li a {
  height: 50px;
  line-height: 50px;
  width: 248px;
  padding-left: 20px;
}

#articleContent table, th, td {
  margin: 15px 0 15px 0;
}

/* 开始 hexo-admonition 插件样式定义 */
.admonition {
  margin: 1.5625em 0;
  padding: .6rem;
  overflow: hidden;
  font-size: .64rem;
  page-break-inside: avoid;
  border-left: .3rem solid #42b983;
  border-radius: .3rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,.05), 0 0 0.05rem rgba(0,0,0,.1);
  background-color: #fafafa;
}

p.admonition-title {
  position: relative;
  margin: -.6rem -.6rem .8em -.6rem !important;
  padding: .4rem .6rem .4rem 2.5rem;
  font-weight: 700;
  background-color:rgba(66, 185, 131, .1);
}

.admonition-title::before {
  position: absolute;
  top: .9rem;
  left: 1rem;
  width: 12px;
  height: 12px;
  background-color: #42b983;
  border-radius: 50%;
  content: ' ';
}

.info>.admonition-title, .todo>.admonition-title {
  background-color: rgba(0,184,212,.1);
}

.warning>.admonition-title, .attention>.admonition-title, .caution>.admonition-title {
  background-color: rgba(255,145,0,.1);
}

.failure>.admonition-title, .missing>.admonition-title, .fail>.admonition-title, .error>.admonition-title {
  background-color: rgba(255,82,82,.1);
}

.admonition.info, .admonition.todo {
  border-color: #00b8d4;
}

.admonition.warning, .admonition.attention, .admonition.caution {
  border-color: #ff9100;
}

.admonition.failure, .admonition.missing, .admonition.fail, .admonition.error {
  border-color: #ff5252;
}

.info>.admonition-title::before, .todo>.admonition-title::before {
  background-color: #00b8d4;
  border-radius: 50%;
}

.warning>.admonition-title::before, .attention>.admonition-title::before, .caution>.admonition-title::before {
  background-color: #ff9100;
  border-radius: 50%;
}

.failure>.admonition-title::before,.missing>.admonition-title::before,.fail>.admonition-title::before,.error>.admonition-title::before{
  background-color: #ff5252;;
  border-radius: 50%;
}

.admonition>:last-child {
  margin-bottom: 0 !important;
}

/* hexo-admonition 插件样式定义结束 */

.line-numbers .line-numbers-rows {
  border-right: 1px solid #607d8b42 !important;
}

blockquote {
  border-left: 5px solid #89a3b6ab;
  background-color: hsla(0, 0%, 96%, 1);
}

.img-shadow {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.07), 0 5px 10px -5px rgba(0, 0, 0, 0.3);
}

pre::-webkit-scrollbar {
  width: .3rem;
  height: .3rem;
  overflow: hidden;
}

pre:hover::-webkit-scrollbar-thumb {
  background-color: #607d8b57;
  overflow: auto;
}

.progress-bar {
  top: 0;
  bottom: unset;
  height: 2px;
}

.admonition code[class*="language-"], .admonition pre[class*="language-"] {
  background: hsla(0, 0%, 96%, 1) !important;
}

#articleContent blockquote p {
  text-indent: 0;
}
