/* Here is your custom css styles. */

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI9w2_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI9w2_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Monda Regular'), local('Monda-Regular'), url(https://fonts.gstatic.com/s/monda/v9/TK3tWkYFABsmjspvPhopv-dHE5Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Monda Regular'), local('Monda-Regular'), url(https://fonts.gstatic.com/s/monda/v9/TK3tWkYFABsmjsphPhopv-dH.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Monda Bold'), local('Monda-Bold'), url(https://fonts.gstatic.com/s/monda/v9/TK3gWkYFABsmjsLaGw8KneptKZ2s7zg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Monda Bold'), local('Monda-Bold'), url(https://fonts.gstatic.com/s/monda/v9/TK3gWkYFABsmjsLaGw8EneptKZ2s.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('fonts/cascadia-webfont.eot');
  src: url('fonts/cascadia-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/cascadia-webfont.woff2') format('woff2'),
      url('fonts/cascadia-webfont.woff') format('woff'),
      url('fonts/cascadia-webfont.ttf') format('truetype'),
      url('fonts//cascadia-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-y: scroll;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6,.card-title,.bg-cover .title{
  font-family: 'Monda', 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}
code {
  font-family: 'Cascadia Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

/* hexo-filter-github-emojis */
.github-emoji {
  height: 2em;
  width: 2em;
  display: inline-block !important;
  position: relative;
  margin: 0 3px !important;
  padding: 0;
}
.github-emoji:hover {
  animation: emoji-face 5s infinite ease-in-out;
}

@keyframes emoji-face {
  2% {
    transform: translate(0, 1.5px) rotate(1.5deg);
  }
  4% {
    transform: translate(0, -1.5px) rotate(-0.5deg);
  }
  6% {
    transform: translate(0, 1.5px) rotate(-1.5deg);
  }
  8% {
    transform: translate(0, -1.5px) rotate(-1.5deg);
  }
  10% {
    transform: translate(0, 2.5px) rotate(1.5deg);
  }
  12% {
    transform: translate(0, -0.5px) rotate(1.5deg);
  }
  14% {
    transform: translate(0, -1.5px) rotate(1.5deg);
  }
  16% {
    transform: translate(0, -0.5px) rotate(-1.5deg);
  }
  18% {
    transform: translate(0, 0.5px) rotate(-1.5deg);
  }
  20% {
    transform: translate(0, -1.5px) rotate(2.5deg);
  }
  22% {
    transform: translate(0, 0.5px) rotate(-1.5deg);
  }
  24% {
    transform: translate(0, 1.5px) rotate(1.5deg);
  }
  26% {
    transform: translate(0, 0.5px) rotate(0.5deg);
  }
  28% {
    transform: translate(0, 0.5px) rotate(1.5deg);
  }
}

@-webkit-keyframes rainbow {
  0%,
  100% {
    background: rgba(75, 0, 130, 0.75);
    background: linear-gradient(45deg, rgba(75, 0, 130, 0.75) 0%, rgba(75, 0, 130, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(75, 0, 130, 0.75) 0%, rgba(75, 0, 130, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(75, 0, 130, 0.75) 0%, rgba(75, 0, 130, 0.65) 100%);
  }
  16% {
    background: rgba(132, 13, 121, 0.75);
    background: linear-gradient(45deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
  }
  32% {
    background: rgba(94, 11, 247, 0.75);
    background: linear-gradient(45deg, rgba(94, 11, 247, 0.75) 0%, rgba(94, 11, 247, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(94, 11, 247, 0.75) 0%, rgba(94, 11, 247, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(94, 11, 247, 0.75) 0%, rgba(94, 11, 247, 0.65) 100%);
  }
  48% {
    background: rgba(25, 25, 112, 0.75);
    background: linear-gradient(45deg, rgba(25, 25, 112, 0.75) 0%, rgba(25, 25, 112, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(25, 25, 112, 0.75) 0%, rgba(25, 25, 112, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(25, 25, 112, 0.75) 0%, rgba(25, 25, 112, 0.65) 100%);
  }
  64% {
    background: rgba(0, 100, 0, 0.75);
    background: linear-gradient(45deg, rgba(0, 100, 0, 0.75) 0%, rgba(0, 100, 0, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(0, 100, 0, 0.75) 0%, rgba(255, 112, 66, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(0, 100, 0, 0.75) 0%, rgba(0, 100, 0, 0.65) 100%);
  }
  80% {
    background: rgba(233, 30, 99, 0.75);
    background: linear-gradient(45deg, rgba(233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(2233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
  }
}

@keyframes rainbow {
  0%,
  100% {
    background: rgba(75, 0, 130, 0.75);
    background: linear-gradient(45deg, rgba(75, 0, 130, 0.75) 0%, rgba(75, 0, 130, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(75, 0, 130, 0.75) 0%, rgba(75, 0, 130, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(75, 0, 130, 0.75) 0%, rgba(75, 0, 130, 0.65) 100%);
  }
  16% {
    background: rgba(132, 13, 121, 0.75);
    background: linear-gradient(45deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
  }
  32% {
    background: rgba(94, 11, 247, 0.75);
    background: linear-gradient(45deg, rgba(94, 11, 247, 0.75) 0%, rgba(94, 11, 247, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(94, 11, 247, 0.75) 0%, rgba(94, 11, 247, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(94, 11, 247, 0.75) 0%, rgba(94, 11, 247, 0.65) 100%);
  }
  48% {
    background: rgba(25, 25, 112, 0.75);
    background: linear-gradient(45deg, rgba(25, 25, 112, 0.75) 0%, rgba(25, 25, 112, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(25, 25, 112, 0.75) 0%, rgba(25, 25, 112, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(25, 25, 112, 0.75) 0%, rgba(25, 25, 112, 0.65) 100%);
  }
  64% {
    background: rgba(0, 100, 0, 0.75);
    background: linear-gradient(45deg, rgba(0, 100, 0, 0.75) 0%, rgba(0, 100, 0, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(0, 100, 0, 0.75) 0%, rgba(255, 112, 66, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(0, 100, 0, 0.75) 0%, rgba(0, 100, 0, 0.65) 100%);
  }
  80% {
    background: rgba(233, 30, 99, 0.75);
    background: linear-gradient(45deg, rgba(233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
    background: -moz-linear-gradient(135deg, rgba(233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
    background: -webkit-linear-gradient(135deg, rgba(2233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
  }
}

.recommend .post-card .post-title{
  line-height: 1.5;
  height: 60px;
}

#aboutme .introduction {
  max-width: 700px;
  text-align: left;
  line-height: 2.2rem;
}

footer .social-statis {
  margin-top: 0px;
}

.cover-social-link {
  top: 14vh;
}

.bg-color {
  background-image: linear-gradient(to right, #1a6f06 0%, #252a34 100%);
}

span.bg-color {
  background-image: linear-gradient(to right, #1a6f06 0%, #1a6f06 100%);
}

header .brand-logo .logo-span {
  font-size: 1.8rem;
}

.bg-cover .title {
  font-size: 2.5em;
  margin-bottom: 2rem !important;
}

.post-cover {
  height: 40vh !important;
  min-height: 300px;
}

.carousel-post .cover-btns a {
  margin-top: 0px;
}

.dream {
  margin-top: 10px;
  margin-bottom: 10px;
}

header .nav-transparent-none {
  display: none;
}

div.jqcloud {
  font-size: 0.8rem !important;
}

.friends-container {
  max-width: 1300px;
}

footer {
  padding-bottom: 20px;
}

.carousel .indicators {
  padding-bottom: 10px !important;
}

footer .copy-right img {
  width: 16px;
}

.chip-container .tag-chips {
  max-width: 1150px;
}

.archive-calendar {
  max-width: 1020px;
}

#cd-timeline {
  max-width: 960px;
}

#post-calendar {
  height: 260px;
}

#artDetail .reprint {
  margin: 15px 0 20px 0;
}

/*大屏幕下(桌面类)的样式*/
@media only screen and (min-width: 993px) {
  #articleContent img {
    zoom: 50%;
    max-width: 80%;
    min-width: 60%;
  }

  .index-cover{
    max-height: 70vh;
  }

  .index-card {
    margin-top: -50px;
  }
}

/*中等屏幕下(平板类)的样式*/
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .container {
    width: 90%;
  }

  #articleContent img {
    zoom: 50%;
    max-width: 90%;
    min-width: 70%;
  }
}

/*小屏幕下(手机)的样式*/
@media only screen and (max-width: 812px) {
  .nav-none {
    display: none;
  }

  .cover-btns {
    top: 5vh;
  }

  .cover-social-link {
    top: 10vh;
  }

  .carousel-control {
    display: none;
  }

  .index-cover {
    min-height: 650px;
  }

  #articleContent img {
    zoom: 50%;
    max-width: 90%;
    min-width: 60%;
  }

  header .side-nav .mobile-head img {
    content: url("/medias/logo-small.png");
    width: 50px;
    height: 50px;
    margin-left: 20px;
  }

  .bg-cover .title {
    font-size: 2em;
  }

  .bg-cover .post-title {
    font-size: 2em;
  }
}

.block-with-text:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
}
