@font-face {
  font-family: 'Cascadia Code';
  src: local('Cascadia Code Regular'), url('/css/fonts/cascadia-webfont.eot');
  src: local('Cascadia Code Regular'), url('/css/fonts/cascadia-webfont.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/cascadia-webfont.woff2') format('woff2'),
      url('/css/fonts/cascadia-webfont.woff') format('woff'),
      url('/css/fonts/cascadia-webfont.ttf') format('truetype'),
      url('/css/fonts//cascadia-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

code, kbd, pre {
  font-family: "Cascadia Code","Courier New",Courier,monospace;
}

.md-main__inner {
  margin-top: 0;
}

.md-content img{
  zoom: 50%;
  max-width: 90%;
  min-width: 60%;
  margin-left: auto; 
  margin-right:auto; 
  display:block;
}

.md-main,.md-nav{
  background-color: #F5F7F9;
}

.md-content {
  background-color: #fff;
  border: 1px solid #E6ECF1;
  min-height: 70vh;
}

.md-content__inner::before {
  height: 1.4rem;
}

.md-typeset h2[id]:after {
  display: block;
  padding-top: 2px;
  margin: 0.4em 0 0.8em 0;
  background-color: #E6ECF1;
  content: "";
}

.md-sidebar--secondary .md-nav__item a {
  padding: 0.2em 0 0.2em 0;
  color: #3c4e5e;
  white-space: nowrap;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 底部上一页，下一页样式 */
.md-footer-nav__link {
  padding-top: 1rem;
  padding-bottom: 0;
}
.md-footer-nav {
  background-color: #E8EAF6;
  color: rgba(0,0,0,.54);
}
.md-footer-nav__direction {
  color: #757575;
}

.md-nav--secondary .md-nav__title {
  font-size: 1.3em;
  margin-bottom: .7rem;
}

ul .md-nav__list {
  list-style: none;
  border-left: 1px solid #E6ECF1;
}

.md-nav--secondary>.md-nav__list {
  margin-left: .8em;
}

.md-sidebar--secondary nav .md-nav__list .md-nav__item li {
  padding: 0.1em 0 0.1em 1em;
}

.md-typeset blockquote {
  padding: .5rem;
  background-color: rgb(245, 247, 249);
  color: var(--md-default-fg-color--light);
  border-left: 3px solid var(--md-accent-fg-color);
  font-size: .7rem;
}

.md-typeset blockquote p {
  margin: 0px;
}

.md-typeset code, .md-typeset pre {
  background-color: #F5F7F9;
  font-weight: 400;
  color: var(--md-primary-fg-color);
  padding: 0 .3em;
}

.md-footer-nav__link:hover{
  color: var(--md-accent-fg-color);
}

.md-source__icon+.md-source__repository {
  padding-left: 1.8rem;
  margin-top: 5px;
}

@media only screen and (min-width: 76.1875em) {
  .md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
    height: 32px;
    width: auto;
  }

  .md-content {
    margin-top: 1.5rem;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    border-radius: 2px;
    border: 0;
  }

  .md-sidebar--primary .md-sidebar__scrollwrap {
    margin-right: 3px;
  }

  .md-main .md-typeset {
    font-size: .75rem;
    line-height: 1.9;
    padding: 1em 0 2em 0;
  }

  .md-nav--primary .md-nav__link {
    margin: 0.4rem 1rem 0.4rem 0;
  }

  .md-nav--primary .md-nav__item {
    padding: 0.1em 0 0.1em 0;
    color: #3c4e5e;
    font-weight: 700;
  }

  .md-nav__item .md-nav__item--active{
    border-left: 3px solid var(--md-accent-fg-color);
    border-top: 1px solid rgb(230, 236, 241);
    border-bottom: 1px solid rgb(230, 236, 241);
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    border-right: 0;
    text-decoration: none;
    background-color: #fff;
    -webkit-box-align: center;
  }

  li .md-nav__item.md-nav__item--active.md-nav__item--nested{
    border: none;
    display: block;
    background-color: #F5F7F9;
  }

  .md-nav--primary .md-nav__title {
    margin-bottom: .5rem;
    padding-left: 0;
    font-size: 1.3em;
  }

  .md-nav__item--nested>.md-nav__link:after {
    float: right;
    font-size: 1.4em;
    color: #748798;
  }

  .md-nav__item li:hover {
    background-color: #E6ECF1;
  }

  .md-typeset .codehilitetable .linenos pre, .md-typeset .highlighttable .linenos pre {
    line-height: 1.7;
  }

  .md-typeset pre>code {
    line-height: 1.7;
  }

  .md-typeset .codehilitetable .linenos, .md-typeset .highlighttable .linenos {
    background-color: #E6ECF1;
    color: rgb(115, 135, 152);
  }

  li.md-nav__item.md-nav__item--active.md-nav__item--nested {
    color: #3c4e5e;
    font-size: 0.65rem;
  }

  li.md-nav__item.md-nav__item--nested {
    font-size: 0.65rem;
  }

  .md-nav--primary li.md-nav__item a {
    font-weight: 400;
    margin-left: .5rem;
    white-space: nowrap;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.95em;
  }

  /* 底部对齐 */
  .md-footer-social {
    padding: 0.3rem 0;
  } 

  span.md-header-nav__topic.md-ellipsis img {
    display: none;
  }
}

@media screen and (max-width: 76.1875em){
  .md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
    display: none;
  }

  .md-nav--primary .md-nav__title, .md-nav--primary .md-nav__item {
    font-size: .7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .md-nav--primary .md-nav__item--active>.md-nav__link {
    background-color: #E6ECF1;
  }

  .md-nav--primary .md-nav__title[for=__drawer] .md-nav__button {
    margin: 1rem .2rem;
    padding: .4rem .1rem;
  }
  .md-nav__toggle:checked~.md-nav {
    background-color: var(--md-primary-bg-color)
  }

  .md-header-nav__title {
    padding: 0 .5rem;
  }
  span.md-header-nav__topic.md-ellipsis img {
    height: 1.3rem;
    margin: .6rem 0rem 0 0;
  }
  .md-nav--primary .md-nav__title {
    height: 3rem;
    padding: .5rem 0 0 2rem;
    color: var(--md-primary-fg-color);
    font-weight: 600;
  }

  .md-nav--primary .md-nav__title[for=__drawer] {
    font-weight: 600;
    font-size: 1.1em;
    margin-left: -1.2rem;
  }

  .md-nav--primary .md-nav__title .md-nav__icon {
    margin: .6rem .2rem;
    color: var(--md-primary-fg-color);;
  }
}